// Common components imports
@import '~@/components/item-card/item-card';

// Styles

.category-pg {
  .products {
    @include container;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 140px;

    @media (max-width: 1399.98px) {
      justify-content: flex-start;
      max-width: 860px;
    }

    &:hover {
      .item-card {
        opacity: 0.5;
      }
    }

    .item-card {
      flex: 1;
      flex-basis: 33.333333%;
      max-width: 386px;
      padding-top: 30px;
      padding-right: 30px;
      padding-left: 30px;

      &:hover {
        opacity: 1;
      }

      &:nth-child(3n + 2) {
        border-right: 1px solid #f2f2f2;
        border-left: 1px solid #f2f2f2;
      }

      @media (max-width: 1399.98px) {
        flex-basis: 50%;
        max-width: 430px;

        &:nth-child(3n + 2) {
          border: none;
        }

        &:nth-child(odd) {
          border-right: 1px solid #f2f2f2;
        }
      }

      @include mq-less-lg {
        flex-basis: 100%;
        max-width: none;
        border-right: none !important;
      }
    }

    .item-card__img-container {
      height: 340px;
      background-color: transparent;
    }

    .item-card__name {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

    .item-card__desc {
      padding-bottom: 20px;
      border-bottom: 1px solid#f2f2f2;
    }
  }
}
