@import '~@/assets/scss/common';

// Common components imports
@import '~@/components/header/header';
@import '~@/components/footer/footer';
@import '~@/components/breadcrumbs/breadcrumbs';
@import '~@/components/page-desc/page-desc';

// Local components imports
@import './components/title/title';
@import './components/products/products';

// Mixes

.category-pg__page-title {
  position: absolute;
  bottom: 60px;
  color: #fff;
}
