mixin page-desc(text, mixes)
  .page-desc(class=(mixes) && `${mixes}__page-desc`)
    .page-desc__container
      p.page-desc__content= text
      
      include ~@/components/dots/dots
      +dots
    