.page-desc {
  @include max-width;
  margin-bottom: 60px;
  padding: 60px 0;
  border-bottom: 1px solid #f2f2f2;
}

.page-desc__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @include container;

  @include mq-less-lg {
    flex-direction: column;
  }
}

.page-desc__content {
  max-width: 980px;

  @include mq-less-lg {
    margin-bottom: 20px;
  }
}
