.search-panel {
  position: absolute;
  left: 0;
  z-index: 100000;
  display: none;
  width: 100vw;
  padding: 120px 160px;
  overflow-y: hidden;
  background-color: #fff;
  transition: none;
}

.search-panel__input-group {
  position: relative;

  @include container;
}

.search-panel__input {
  width: 100%;
  padding-bottom: 30px;
  color: #1d1d1b;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  border: none;
  border-bottom: 1px solid #f2f2f2;

  &::placeholder {
    color: #1d1d1b;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
  }
}

.search-panel__icon-loupe {
  position: absolute;
  top: 0;
  right: 0;
}
