mixin search-panel
  .search-panel
    fieldset.search-panel__input-group
      input.search-panel__input(type='text' placeholder='Поиск по сайту')
      img.search-panel__icon-loupe(src=require('../../components/search-panel/img/loupe.svg') alt='Иконка лупы')