mixin header
  header.header
    .header__container
      a.header__logo-link(href='index.html')
        img.header__logo(src=require('../../assets/img/logo.svg') alt='Логотип')
      .header__toggle-nav
        span.header__toggle-nav-inner
      nav.header__nav
        ul.header__nav-list
          - 
            var links = [
              {
                name: 'О бренде',
                href: 'about.html'
              },
              {
                name: 'Каталог',
                href: '#'
              },
              {
                name: 'Где купить',
                href: 'map.html'
              },
              {
                name: 'Обслуживание',
                href: 'service.html'
              }
            ]
          each link in links
            li.header__nav-item
              a.header__nav-link(href=`${link.href}`)= link.name
      .header__bar
        .header__bar-location
          include ~@/components/header/img/placeholder.svg
        .header__bar-search
          include ~@/components/header/img/search.svg
          include ~@/components/header/img/close.svg

      include ~@/components/search-panel/search-panel
      +search-panel