@import '~@/components/item-card/item-card';

.index-pg {
  .products {
    @include container;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;

    &:hover {
      .item-card {
        opacity: 0.5;
      }
    }

    @include mq-less-lg {
      margin-bottom: 40px;
    }

    .item-card {
      flex: 1;

      &:hover {
        opacity: 1;
      }

      @include mq-less-lg {
        flex-basis: 50%;
        margin-bottom: 40px;

        &:nth-child(odd) {
          padding-right: 30px !important;
          border-right: 1px solid #f2f2f2 !important;

          @include mq-less-sm {
            padding-right: 0 !important;
            border-right: none !important;
          }
        }

        &:nth-child(even) {
          padding-left: 30px !important;

          @include mq-less-sm {
            padding-left: 0 !important;
          }
        }
      }

      @include mq-less-sm {
        flex-basis: 100%;
        padding-right: 0;
        padding-left: 0;
        border-right: none;
      }

      &:not(:last-child) {
        padding-right: 30px;
        border-right: 1px solid #f2f2f2;

        @include mq-less-lg {
          padding-right: 0;
          border-right: none;
        }
      }

      &:not(:first-child) {
        padding-left: 30px;

        @include mq-less-lg {
          padding-left: 0;
        }
      }
    }

    .item-card__img-container {
      height: 340px;

      @include mq-less-xl {
        padding: 40px;
      }
    }
  }
}
