@import '~@/components/item-card/item-card';

.index-pg {
  .products {
    @include container;
    display: flex;
    margin-bottom: 80px;

    .item-card {
      flex: 1;

      &__img-container {
        height: 340px;
      }

      &:not(:last-child) {
        padding-right: 30px;
        border-right: 1px solid #f2f2f2;
      }

      &:not(:first-child) {
        padding-left: 30px;
      }
    }
  }
}
