mixin footer
  footer.footer
    .footer__body
      ul.footer__categories

        li.footer__category
          h6.footer__category-title Коллекции
          ul.footer__category-list
            each item in ['Logic', 'Norma', 'Optima', 'Prime', 'Ultra', 'Vintage & Modern']
              li.footer__category-item
                a.footer__category-link(href='catalog.html')= item

        li.footer__category
          h6.footer__category-title Продукты
          ul.footer__category-list
            each item in ['Смесители для умывальника', 'Смесители для кухни', 'Душевая программа', 'Мебель']
              li.footer__category-item
                a.footer__category-link(href='category.html')= item

        li.footer__category
          nav.footer__nav
            - 
              var links = [
                {
                  name: 'О бренде',
                  href: 'about.html'
                },
                {
                  name: 'Где купить',
                  href: 'map.html'
                },
                {
                  name: 'Обслуживание',
                  href: 'service.html'
                }
              ]
            each link in links
              a.footer__nav-link(href=`${link.href}`)= link.name

      a.footer__logo-link(href='index.html')
        img.footer__logo(src=require('../../assets/img/logo.svg'))
    
    .footer__bottom
      p.footer__copyright © Dorff 2019
      include ~@/components/dots/dots
      +dots