.index-pg {
  .about {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 140px;

    &:before {
      position: absolute;
      top: 152px;
      left: -40px;
      width: 80px;
      height: 60px;
      background-color: #df2727;
      content: '';
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 952px;
      height: 700px;
      background-color: #f2f2f2;
      content: '';
    }

    &__container {
      display: flex;
    }

    &__left {
      margin-top: 100px;
      padding-right: 30px;

      .about__para {
        margin-bottom: 137px;
      }
    }

    &__right {
      margin-top: 60px;
      padding-left: 30px;

      .about__img-wrap {
        position: relative;
        margin-bottom: 60px;

        &:before {
          position: absolute;
          right: -40px;
          bottom: -30px;
          width: 160px;
          height: 60px;
          background-color: #df2727;
          opacity: 0.9;
          content: '';
        }
      }

      .about__para {
        margin-bottom: 30px;
      }
    }

    &__title {
      margin-bottom: 20px;
      color: #b1b1b1;
      font-size: 14px;
      text-transform: uppercase;
    }

    &__logo {
      height: 70px;
      margin-bottom: 70px;
    }

    &__para {
      max-width: 609px;
    }

    &__link {
      position: relative;
      padding-bottom: 5px;
      color: #000;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #e42313;
        border-radius: 1px;
        content: '';
      }

      &:hover {
        padding-bottom: 10px;

        &:after {
          left: 5px;
        }
      }
    }
  }
}
