mixin about
  section.about
    .about__container
      .about__left
        .about__title О бренде
        img.about__logo(src=require('../../assets/img/logo.svg'))
        p.about__para Добротно, надежно и без лишних переплат – вот, что говорят о сантехнике Dorff ее многочисленные пользователи. За 15 лет на рынке России продукция под брендом Dorff – душевые кабины и ограждения, мебель для ванной комнаты, сантехническая керамика, смесители и душевое оборудование – зарекомендовала себя как оптимальный выбор для рачительных хозяев, которые любят свой дом и знают цену своим деньгам.
        img.about__img(src=require('./components/about/img/1.png'))

      .about__right
        .about__img-wrap
          img.about__img(src=require('./components/about/img/2.png'))
        p.about__para В Dorff мы понимаем, как важен для Вас Ваш дом, и с уважением относимся к Вашему бюджету: достойный ремонт Вашей ванной комнаты не должен стоить дорого. Поэтому мы постоянно проводим оптимизацию каждого этапа производства без снижения качества продукции.
        a.about__link(href='about.html') Узнать больше
