mixin breadcrumbs(items, mixes)
  .breadcrumbs(class=(mixes) && `${mixes}__breadcrumbs`)
    ul.breadcrumbs__list
      each item, idx in items
        li.breadcrumbs__item
          a.breadcrumbs__link(href='#')= item
          if idx !== items.length - 1
            ul.breadcrumbs__dots-group
              each dot in [1, 2]
                li.breadcrumbs__dot